<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Secrets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
</head>
<body>
    <div id="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#">Dojo Secrets</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/secrets">Home</a>
                            </li>
                        </ul>
                        <a href="/logout" class="badge badge-info">Log Out</a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Hello, {{request.session.welcome_name}}</h1>
                <h2>Post a New Secret</h2>
                <form action="/post" method="post">
                    {% csrf_token %}
                    <textarea name="secret" cols="70" rows="5"></textarea>
                    <input type="hidden" name="poster" value="{{this_user.id}}">
                    <button name="submit_post" class="btn btn-info" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="card">
                    <div class="card-header bg-secondary text-white">Recent Secrets</div>
                    <div class="card-body">
                        <p class="card-text">Stay up-to-date with the latest secrets posted!</p>
                        <ul>
                            {% for secret in secrets reversed %}
                                {% if forloop.counter < 5 %}
                                    <li>{{secret.message}}
                                        {% if secret.posted_by.id != this_user.id and this_user not in secret.liked_by.all %}
                                            <form action="/like" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="secret_id" value="{{secret.id}}">
                                                <button type="submit" class="btn btn-dark btn-sm">Like this</button>
                                            </form></li>
                                        {% elif secret.posted_by.id == this_user.id %}
                                            <a class="badge badge-danger" href="/destroy/{{secret.id}}">Delete</a>
                                            </li>
                                        {% else %}
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="card">
                    <div class="card-header bg-dark text-white">Most Popular Secrets</div>
                    <div class="card-body">
                        <p class="card-text">Check out the most popular secrets of all time. Who knows, yours might be number one!</p>
                        <a href="/secrets/popular" class="btn btn-primary btn-sm">Check 'em out!</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
    
    </div>
</body>
</html>