<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Secrets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
</head>
<body>
    <div id="wrapper">

        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Hello, {{request.session.welcome_name}}</h1>
                <h2>Post a New Secret</h2>
                <form action="/post" method="post">
                    {% csrf_token %}
                    <textarea name="secret" cols="70" rows="5"></textarea>
                    <input type="hidden" name="poster" value="{{this_user.id}}">
                    <button name="submit_post" class="btn btn-info" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="card">
                    <div class="card-header bg-secondary text-white">Recent Secrets</div>
                    <div class="card-body">
                        <p class="card-text">Stay up-to-date with the latest secrets posted!</p>
                        {% for secret in secrets reversed %}
                            <p>{{secret.message}}</p>
                        {% endfor %}
                    </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="card">
                    <div class="card-header bg-dark text-white">Most Popular Secrets</div>
                    <div class="card-body">
                        <p class="card-text">Check out the most popular secrets of all time. Who knows, yours might be number one!</p>
                        <a href="/secrets/popular" class="btn btn-primary btn-sm">Check 'em out!</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
    
    </div>
</body>
</html>