.container{
    margin-top: 50px;
    width: 700px;
}
form{
    background-color: lightgray;
    padding: 30px;
    border-radius: 7px;
    margin-top: 30px;
}
.form-row{
    margin-bottom: 20px;
}
.col{
    display: inline-block;
    width: 300px;
}
.error{
    font-size: .9em;
    color: red;
}
.success{
    color: green;
    font-weight: bold;
    font-size: .7rem;
    margin-bottom: 0;
}