.container{
    margin-top: 50px;
    width: 800px;
}
form{
    background-color: lightgray;
    padding: 30px;
    border-radius: 7px;
    margin-top: 30px;
}
.row{
    margin-bottom: 20px;
}
.error{
    font-size: .7rem;
    color: red;
}
.success{
    color: green;
    font-weight: bold;
    font-size: .7rem;
    margin-bottom: 0;
}