<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Model Fun</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
</head>

@model Assignments.Models.User

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/models">Message</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="numbers">Numbers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="users">Users</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="user">User</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="wrapper">
        <h2 class="text-center mt-5">Here is a Random User!</h2>
        <div class="container text-center">
            @{
                string[] first = new string[] {"Troy", "Claire", "Tom", "Frank", "Danny"};
                string[] last = new string[] {"Clark", "Elliott", "Reese", "DePaul", "Eagle"};
                Random rand = new Random();
                int idx = rand.Next(0,5);

                Model.FirstName = first[idx];
                Model.LastName = last[idx];
                <span class="badge badge-info">@Model.FirstName @Model.LastName</span>
            }
        </div>
    </div>
</body>

</html>