.carousel{
    margin: 0 auto;
    width: 800px;
    height: 400px;
}
.carousel-item img{
    max-width: 800px;
    max-height: 500px;
}
.col-lg-4 img,
.col-lg-5 img{
    border-radius: 7px;
    max-width: 300px;
}
.profile-pic{
    width: 300px;
    padding: 20px;
    border-right: 4px solid #2eccbc;
}
strong{
    margin-right: 10px;
    color: #2eccbc;
}