<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML Table</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
        body{
            margin: 0;
            background-color: #ccc;
        }
        .container{
            width: 700px;
            margin: 2rem auto;
        }
        .table{
            background-color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <table class="table table-hover">
            <thead class="thead-dark text-uppercase">
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Full Name</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                    {% for values in user.values() %}
                        <td>{{values}}</td>
                    {% endfor %}
                    <td>{{user['first_name']+" "+user['last_name']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>
</html>