@{
    ViewData["Title"] = "Home Page";
}
@model Quote
<div id="wrapper">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Quoting Dojo</h1>
            <form asp-action="Create" asp-controller="Home" method="post">
                <div class="form-group">
                    <span class="error" asp-validation-for="Author"></span>
                    <input type="text" class="form-control" asp-for="Author" placeholder="Your name">
                </div>
                <div class="form-group">
                    <span class="error" asp-validation-for="Message"></span>
                    <textarea type="text" class="form-control" asp-for="Message" placeholder="Add your quote..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Post</button>
                <a class="btn btn-dark btn-lg" href="Home/Dashboard" role="button">Skip to Quotes</a>
            </form>
        </div>
    </div>
    
</div>
