<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'random_words/css/style.css' %}">
</head>
<body>
    <div class="container">
            <h1>Random Word Generator</h1>
            <p>Attempt # {{ counter }}</p>

            <h2>{{ word }}</h2>
            <form action="/random/generate" method="post">
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Generate</button>
            </form>
    </div>
</body>
</html>