#wrapper{
    width: 1000px;
    margin: 0 auto;
}
.col-lg-6{
    padding: 0 50px;
}
.error{
    color: red;
    font-size: .7rem;
}
.badge-light,
.btn-light{
    background-color: #60acdf;
    color: white;
}
.table .thead-dark th{
    background-color: #60acdf;
    border-color: #60acdf;
}
.table tbody{
    font-size: .8rem;
}