<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Something Witty</h1>
        <p>Please fill out the registration form.</p>
        {% with messages = get_flashed_messages(category_filter=['blankAlert', 'nameAlert']) %}
            {% if messages %}
            {% for message in messages %}
                <p class="error">{{message}}</p>
            {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/process" method="post">
            <div class="row">
                <div class="col">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" name="fname">
                </div>
                <div class="col">
                    <label for="first_name">Last Name</label>
                    <input type="text" class="form-control" name="lname">
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="email" class="form-control">
                {% with messages = get_flashed_messages(category_filter=['emailAlert']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="error">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="initial_password">
                {% with messages = get_flashed_messages(category_filter=['passwordAlert','lengthAlert']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="error">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_password">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            {% with messages = get_flashed_messages(category_filter=['successAlert']) %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="success">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>
</body>
</html>