<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajax Pagination</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> 
</head>

<body>
    <div class="container">
        <h1>Leads</h1>
        <form action='/leads/find' method='post' class='ajax_form' style="margin-bottom: 20px;">
            <span style="margin-right: 10px;">Name</span> 
            {% csrf_token %}
            <input type='text' name='name_contains' id='ajax_name'>
            <input type="date" name="date_start" id="ajax_date_start">
            <input type="date" name="date_end" id="ajax_date_end">
        </form>
        <div class="container">
                <ul id="page-numbers"></ul>
                
                <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
                <div id='search-table'>
    
                </div>
        </div>
        
        <script>
            $('.ajax_form').submit(function (e) {
                e.preventDefault()
            })
            $('#ajax_name').keyup(function () {
                console.log('Sending Ajax request to /leads/find')
                console.log('Submitting the following data', $(this).parent().serialize())
                $.ajax({
                    url: '/searches/find',
                    /* Where should this go? */
                    method: 'post',
                    /* Which HTTP verb? */
                    data: $(this).parent().serialize(),
                    /* Any data to send along? */
                    success: function (serverResponse) { /* What code should we run when the server responds? */
                        $('#search-table').html(serverResponse)
                    }
                })
            });
             $('#ajax_date_start, #ajax_date_end').change(function () {
                console.log('Sending Ajax request to /leads/find')
                console.log('Submitting the following data', $(this).parent().serialize())
                $.ajax({
                    url: '/searches/find',
                    /* Where should this go? */
                    method: 'post',
                    /* Which HTTP verb? */
                    data: $(this).parent().serialize(),
                    /* Any data to send along? */
                    success: function (serverResponse) { /* What code should we run when the server responds? */
                        $('#search-table').html(serverResponse)
                    }
                })
            });
            $( document ).ready(function() {
                $.ajax({
                    url: '/searches/all.html', /* Where should this go? */
                    success: function(serverResponse) {  /* What code should we run when the server responds? */
                        console.log("Received this from server:", serverResponse)
                        $('#search-table').html(serverResponse)
                    }
                });
            });
        </script>
    </div>
    
</body>

</html>