@{
    ViewData["Title"] = "Home Page";
}

<div id="wrapper">
    <div class="container navigation mt-5 text-center">
        <h3><a href="Products/New">Create New Product</a></h3>
    </div>
    <div class="divider">
      <span>OR</span>
    </div>
    <div class="container navigation mt-4 text-center">
        <h3><a href="Categories/New">Create New Category</a></h3>
    </div>
</div>