<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock Paper Scissors</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                <aasp-controller="Home" asp-action="Index" class="navbar-brand">Rock Paper Scissors</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><span class="navbar-text">Wins: @TempData["wins"]</span></li>
                        <li><span class="navbar-text">Losses: @TempData["losses"]</span></li>
                        <li><span class="navbar-text">Ties: @TempData["ties"]</span></li>
                    </ul>
                </div>
            </div>
        </nav>
        </header>
        <div id="wrapper">
        <div class="main-container">
            <p class="message" id="message">@TempData["message"]</p>
        </div>
        <div class="button-group">
            <a id="rock" href="Rock" class="btn btn-primary">Rock</a>
            <a id="paper" href="Paper" class="btn btn-primary">Paper</a>
            <a id="scissors" href="Scissors" class="btn btn-primary">Scissors</a>
        </div>
    </div>
</body>
</html>