<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Semi-RESTful Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous"> {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
</head>

<body>
    <div id="wrapper">
        <h1>Add a new user</h1>
        <div class="container">
            <form action="/users/create" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" name="first_name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" name="last_name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <button class="btn btn-info" type="submit">Create</button>
            </form>
            <a class="go-back" href="/users">Go Back</a>
        </div>
    </div>
</body>

</html>