{% load static %}
<h3 class="text-center">CHARACTERS</h3>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="{% static 'campaigns/img/darwin.png' %}" alt="Card image cap">
            <div class="card-body character-cards">
                <h4 class="text-center">DARWIN</h4>
                <span class="badge badge-pill badge-info">19</span>
                <span class="badge badge-pill badge-info">Male</span>
                <span class="badge badge-pill badge-info">Human</span>
                <span class="badge badge-pill badge-info">Sorcerer</span>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn btn-secondary btn-sm" type="submit">Sheet</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="{% static 'campaigns/img/mantra.png' %}" alt="Card image cap">
            <div class="card-body character-cards">
                <h4 class="text-center">MANTRA</h4>
                <span class="badge badge-pill badge-info">22</span>
                <span class="badge badge-pill badge-info">Female</span>
                <span class="badge badge-pill badge-info">Kenku</span>
                <span class="badge badge-pill badge-info">Monk</span>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn btn-secondary btn-sm text-center" type="submit">Sheet</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'campaigns/img/beau.png' %}" alt="Card image cap">
                <div class="card-body character-cards">
                    <h4 class="text-center">BEAU DIDDLEY</h4>
                    <span class="badge badge-pill badge-info">32</span>
                <span class="badge badge-pill badge-info">Female</span>
                <span class="badge badge-pill badge-info">Human</span>
                <span class="badge badge-pill badge-info">Bard</span>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button class="btn btn-secondary btn-sm text-center" type="submit">Sheet</button>
                </div>
            </div>
        </div>
</div>

