<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{this_campaign.name}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_registration/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'campaigns/css/style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <img src="{% static 'dashboard/img/dragon-orb.png' %}">
                <a class="navbar-brand h1" href="{% url 'dashboard:index' %}">PLACEHOLDER</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Campaigns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Characters</a>
                        </li>
                    </ul>
                    <a class="btn btn-info btn-sm text-white" href="{% url 'dashboard:logout' %}">
                    Log out
                    </a>
                </div>
            </div>
        </nav>
    </header><!-- /HEADER -->
    <div id="wrapper">
        <div class="jumbotron">
            <h1 class="display-4">Announcements</h1>
            <p class="lead">Sulevien has a self-moving caravan. What a time to be alive! Self-moving, yes&mdash;and slow as hell.  That means the Agents have plenty of time to warm up before the main event. Next week on game day!</p>
                    
            <p>Start time&mdash;Sat. June 30&mdash;has been moved from 4:30 PM to 6:00 PM.</p>
            <hr class="my-4">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link" id="locations">Locations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="npcs">NPCs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="characters">Characters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="notes">My Notes</a>
                </li>
              </ul>
        </div>
        <div id="triangle-down"></div>
        <div id="content" class="container">

        </div>
    </div>
    <script>
        // LOCATION SELECT
        $('#locations').click(function(){
            $.ajax({
                    url: '/campaigns/load_locations',
                    success: function(serverResponse) {
                        console.log("Received this from server:", serverResponse)
                        $('#content').html(serverResponse)
                    }
                });
            });
        // CHARACTERS SELECT
        $('#characters').click(function(){
            $.ajax({
                    url: '/campaigns/load_characters',
                    success: function(serverResponse) {
                        console.log("Received this from server:", serverResponse)
                        $('#content').html(serverResponse)
                    }
                });
            });
        // CHARACTERS SELECT
        $('#notes').click(function(){
            $.ajax({
                    url: '/campaigns/load_notes',
                    success: function(serverResponse) {
                        console.log("Received this from server:", serverResponse)
                        $('#content').html(serverResponse)
                    }
                });
            });
    </script>
</body>
</html>