h1 {
    margin-top: 0;
}
.container {
    margin-top: 2em;
    width: 500px;
}
.main-content {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 7px;
    text-align: center;
    margin: 0 auto;
    max-width: 250px;
    
}