h1 {
    margin: .5em 0 1em;
}

.container {
    max-width: 800px;
}

.form-group input {
    margin-bottom: 20px;
}

.row {
    margin-bottom: 70px;
    padding: 20px;
    background-color: #e2e2e2;
}

button,
.mx-auto a {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
span.badge {
    display: block;
    margin: 0 auto;
    width: 100px;
    padding: 15px;
}
p {
    font-weight: bold;
    text-align: center;
}