<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Display!</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div id="wrapper" class="text-center">
        <h2>Time Display</h2>
        @{
            var currentDate = DateTime.Now;
        }
        <h5>The current date and time is:</h5>
        <div class="datetime">
            <p>@currentDate.ToLocalTime().ToString("MMM dd, yyyy")</p>
            <p>@currentDate.ToLocalTime().ToString("hh:mm tt")</p>
        </div>
    </div>
</body>
</html>