<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_registration/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'login_registration/css/style.css' %}">
</head>
<body>
    <div id="wrapper">
        <div class="container-fluid">
                <div id="login-overlay">
                    <div class="overlay-content">
                        <h1>Register</h1>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    {% if 'login' in message.tags %}
                                        <li>{{ message }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form action="{% url 'login_regs:login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <input type="text" class="form-control" name="username" placeholder="Username">
                                <input type="password" class="form-control" name="password" placeholder="password">
                            </div>
                            <button class="btn btn-info" type="submit">Login</button>
                            <a href='#' class="btn btn-secondary" onclick='loginOverlay()'>Cancel</a>
                        </form>
                    </div>
                </div>

                <div id="register-overlay">
                    <div class="overlay-content">
                        <h1>Register</h1>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    {% if 'register' in message.tags %}
                                        <li>{{ message }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form action="{% url 'login_regs:register' %}" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <input type="text" class="form-control" name="username" placeholder="Username">
                                <input type="text" class="form-control" name="email" placeholder="Email address">
                                <div class="col">
                                    <label for="gender">Gender</label>
                                    <select class="custom-select" name="gender">
                                        <option selected>Choose...</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                        <option value="not stating">Not Stating</option>
                                    </select>
                                    <small id="inputHelp" class="form-text text-muted">For statistical purposes only</small>
                                </div>
                                <div class="col">
                                    <label for="gender">Birthdate</label>
                                    <input type="date" name="birthdate" class="form-control">
                                </div>
                                <input type="password" class="form-control" name="initial_pw" placeholder="Password">
                                <input type="password" class="form-control" name="confirm_pw" placeholder="Confirm password">
                            </div>
                            <button class="btn btn-info" type="submit">Register</button>
                            <a href='#' class="btn btn-secondary" onclick='registerOverlay()'>Cancel</a>
                        </form>
                    </div>
                </div>
            <div class="buttons">
                <h2 class="display-2 text-center text-white">PLACEHOLDER</h2>
                <a href="#" class="btn btn-secondary" onclick="loginOverlay()">Login</a>
                <a href="#" class="btn btn-dark" onclick="registerOverlay()">Register</a>
            </div>
        </div>
    </div>
    <script>
        function loginOverlay() {
            el = document.getElementById("login-overlay");
            el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
        }

        function registerOverlay() {
            el = document.getElementById("register-overlay");
            el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
        }
    </script>
</body>
</html>