<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars and Cats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container mt-5">
        <h3 class="display-4 text-center">Details Page for <%= cat.name %></h3>
        <div class="row mt-4">
            <div class="col-lg-5 text-right">
                <img class="profile-pic img-fluid" src="/images/husky02.jpg">
            </div>
            <div class="col-lg-7 p-3">
                <p><strong>AGE</strong> <%= cat.age %></p>
                <p><strong>FAVORITE THING</strong> <%= cat.favthing %></p>
                <p>
                    <strong>INTERESTS</strong> 
                    <ul>
                    <% for(var idx in cat.interests){ %>
                        <li><%= cat.interests[idx] %></li>
                    <% } %>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</body>

</html>