@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div id="wrapper">
    <h3 class="display-4 mt-4">Available Weddings</h3>
    <table class="table mt-4 text-center table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Wedding Of</th>
                <th scope="col">Date</th>
                <th scope="col">Guests</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>