@{
    ViewData["Title"] = "Login/Register";
}
@model ViewModel

<div id="wrapper">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="display-4">Register</h3>
            <form asp-action="Register" asp-controller="Home" method="post">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <span class=" error" asp-validation-for="regUser.FirstName"></span>
                    <input type="text" class="form-control form-control-sm" asp-for="regUser.FirstName">
                </div>
                <div class="form-group">
                    <label for="firstName">Last Name</label>
                    <span class=" error" asp-validation-for="regUser.LastName"></span>
                    <input type="text" class="form-control form-control-sm" asp-for="regUser.LastName">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <span class=" error" asp-validation-for="regUser.Email"></span>
                    <input type="text" class="form-control form-control-sm" asp-for="regUser.Email">
                </div>
                <div class="form-group">
                    <label for="initialPassword">Password</label>
                    <span class=" error" asp-validation-for="regUser.Password"></span>
                    <input type="password" class="form-control form-control-sm" asp-for="regUser.Password">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <span class=" error" asp-validation-for="regUser.ConfirmPassword"></span>
                    <input type="password" class="form-control form-control-sm" asp-for="regUser.ConfirmPassword">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col-lg-6">
            <h3 class="display-4">Login</h3>
            <form asp-action="Login" asp-controller="Home" method="post">
                <div class="form-group">
                    <label for="Email">Email address</label>
                    <span class="error" asp-validation-for="loginUser.Email"></span>
                    <input type="text" class="form-control" asp-for="loginUser.Email">
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <span class="error" asp-validation-for="loginUser.Password"></span>
                    <input type="password" class="form-control" asp-for="loginUser.Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>