@{
    ViewData["Title"] = "Most Popular Secrets";
}
@model ViewModel

<div id="wrapper">
    <div class="container">
        <h2>Recent Secrets</h2>
        <div class="secrets-content container">
            @foreach(var secret in Model.secrets)
                {
                    <p class="mb-0">&OpenCurlyDoubleQuote;@secret.Content&CloseCurlyDoubleQuote; <span class="date">(@secret.CreatedAt.ToLongDateString(), @secret.CreatedAt.ToLongTimeString())</span></p>
                    <p>
                        <span class="counter">@secret.Likes.Count likes</span>
                    @if(secret.UserId != ViewBag.CurrentUser)
                    {
                        @foreach(var like in secret.Likes){
                            if(like.UserId == ViewBag.CurrentUser){
                                <span>You've liked this</span>
                            }
                            else
                            {
                                <a href="Like/@secret.Id" class="badge badge-primary">Like</a>
                            }
                        }
                    }
                    else
                    {
                        <span>You posted this</span>
                        <a href="Delete/@secret.Id" class="badge badge-danger">Delete</a>
                    }
                    </p>
                }
        </div>
    </div>
</div>