@{
    ViewData["Title"] = "Secrets";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@model ViewModel

<div id="wrapper">
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="display-4">Hello, @ViewBag.WelcomeName!</h1>
            <div>
                <span class=" error" asp-validation-for="secret.Content"></span>
                @if(TempData["Success"] != null){
                    <span class="success">@TempData["Success"]</span>
                }
            </div>
            <form method="post" asp-action="Create" asp-controller="Home">
                <textarea class="form-control" asp-for="secret.Content" placeholder="Add your secret..."></textarea>
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
        </div>
    </div>
    <div class="container">
        <h2>Recent Secrets</h2>
        <ul class="lists">
            @foreach(var secret in Model.secrets)
                {
                    <li class="list-item">
                        &OpenCurlyDoubleQuote;@secret.Content&CloseCurlyDoubleQuote;
                        @if(secret.UserId != ViewBag.CurrentUser)
                        {
                            <form asp-action="Like/@secret.Id" asp-controller="Home" method="POST">
                                <button type="button" class="badge badge-primary">Like</button>
                            </form>
                        }
                    </li>
                }
        </ul>
    </div>
</div>
