<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coding Dojo Animal Rescue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}"/>
</head>
<body>
    <header>
        <nav class="navbar bg-dark">
            <a href="/" class="navbar-brand mb-0 h1 text-light">Coding Dojo Animal Rescue</a>
        </nav>
    </header>
  
    <main class="countainer-fluid">
        <div class="jumbotron jumbotron-fluid checkout">
            <div class="container">
                <h1 class="display-4">Good going, bucko!!</h1>
                <p class="lead">You've adopted {{ order['cats']+order['dogs']+order['birds'] }} animals! </p>
                <p class="lead">Your student account was charged on {{ order['time'] }}.</p>
            </div>
        </div>
  
        <div class="album py-5 bg-light">
            <div class="container">
                <h4 class="mb-3">You have ordered</h4>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Dogs</td>
                        <td>{{ order['dogs'] }}</td>
                    </tr>
                    <tr>
                        <td>Cats</td>
                        <td>{{ order['cats'] }}</td>
                    </tr>
                    <tr>
                        <td>Birds</td>
                        <td>{{ order['birds'] }}</td>
                    </tr>
                    </tbody>
                </table>

                <h4 class="mb-3">Your Information</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        First Name: {{ order['fname'] }}
                    </div>
                    <div class="col-md-6 mb-3">
                        Last Name: {{ order['lname'] }}
                    </div>
                </div>

                <div class="mb-3">
                    Your Student ID: {{ order['id'] }}
                </div>
            
                <hr class="mb-4">
                <a class="btn btn-info btn-lg btn-block" href="/">Go Back</a>
                
            </div>
        </div>
  
      </main>
      
</body>
</html>