<div class="container">
    <h3 class="center-align header">Dojo Weather Forecast</h3>
    <div class="center-align">
      <button type="button" [routerLink]="['/hiroshima']" class="waves-effect waves-light btn cyan darken-2">Hiroshima</button>
      <button type="button" [routerLink]="['/krakow']" class="waves-effect waves-light btn cyan darken-2">Krakow</button>
      <button type="button" [routerLink]="['/kumamoto']" class="waves-effect waves-light btn cyan darken-2">Kumamoto</button>
      <button type="button" [routerLink]="['/okinawa']" class="waves-effect waves-light btn cyan darken-2">Okinawa</button>
      <button type="button" [routerLink]="['/tokyo']" class="waves-effect waves-light btn cyan darken-2">Tokyo</button>
      <button type="button" [routerLink]="['/tulsa']" class="waves-effect waves-light btn cyan darken-2">Tulsa</button>
    </div>
    <router-outlet></router-outlet> 
</div>