#wrapper{
    width: 1000px;
    margin: 0 auto;
}
.error{
    font-size: .7rem;
    color: red;
}
.message{
    margin-left: 0;
    padding: 15px;
    width: 600px;
    background-color: #888;
    border-radius: 10px;
}
.message p{
    margin-bottom: 0;
}
.comments{
    position: relative;
    margin-right: 0;
    margin-bottom: 50px;
    width: 500px;
    padding: 15px;
    background-color: #ccc;
    border-radius: 10px;
}
.comments p{
    font-size: .8rem;
}
.top:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 10px solid #ccc;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    border-top: 10px solid transparent;
    left: 19px;
    top: -19px;
}